$primary: rgb(34, 41, 51);
$secondary: rgb(44, 50, 58);
$tertiary: rgb(18, 24, 32);
$border: black;

$button-opacity: 0.2;

$primary-button: rgb(29, 175, 252);

$success-button: rgb(106, 192, 68);
$success-border: rgb(71, 182, 72);

$warning: rgb(229, 191, 60);

$error-button: rgb(243, 109, 111);

$font-disabled: rgb(135, 138, 143);
$font-enabled: rgb(215, 215, 215);
